body {
    /* background: url(../images/crossline-dots.png); */
}

header {
  
}

.custom-logo a {
    background-color: black;
    font-weight: bolder;
    
}

.custom-navbar li a{
    color: black;
    transition: all .5s;
}

.custom-navbar li a:hover{
    color: red;
}


hr {
    border-top: 4px dotted;
}

.custom-fig-caption {
    bottom: 5px;
    width: 100%;
    background-color: #007bff;
    color: #fff;
} 

.custom-figure:hover .custom-fig-caption{
    color: rgb(192, 192, 192);
}